In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [2]:
companies = pd.read_csv('companies.txt',delimiter = '\t',encoding = 'unicode_escape')
display(companies.shape)
display(companies.tail())

(66368, 10)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [3]:
rounds2 = pd.read_csv('rounds2.csv',encoding = 'unicode_escape')
display(rounds2.shape)
display(rounds2.tail())

(114949, 6)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ãeron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÃASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [4]:
companies.permalink = companies.permalink.str.encode('utf-8').str.decode('ascii', 'ignore').str.lower()
companies.name = companies.name.str.encode('utf-8').str.decode('ascii', 'ignore').str.lower()

companies.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/organization/zznode-science-and-technology-co...,zznode science and technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/organization/zzzzapp-com,zzzzapp wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/organization/eron,eron,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/organization/asys-2,asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/organization/novatiff-reklam-ve-tantm-hizmetl...,novatiff reklam ve tantm hizmetleri tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [5]:
rounds2['company_permalink'] = rounds2['company_permalink'].str.encode('utf-8').str.decode('ascii', 'ignore').str.lower()
rounds2.tail()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/organization/asys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/novatiff-reklam-ve-tantm-hizmetl...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

In [6]:
print('unique_companies_in_rounds2:',len(rounds2['company_permalink'].unique()))
print('unique_companies_in_companies:',len(companies['permalink'].unique()))

unique_companies_in_rounds2: 66368
unique_companies_in_companies: 66368

In [7]:
np.array_equal(companies['permalink'].unique(),rounds2['company_permalink'].unique())

True

In [8]:
#temp = pd.concat([rounds2,companies],axis = 1)
#display(temp.shape)

In [9]:
companies.rename(columns = {'permalink':'company_permalink'},inplace = True)
master_frame = pd.merge(rounds2,companies, on ='company_permalink')
master_frame.tail()
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 15 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
dtypes: float64(1), object(14)
memory usage: 14.0+ MB

In [10]:
column_wise_nullpercentage = round(((master_frame.isnull().sum())/master_frame.shape[0])*100,2)
column_wise_nullpercentage

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
name                        0.00
homepage_url                5.34
category_list               2.97
status                      0.00
country_code                7.55
state_code                  9.52
region                      8.84
city                        8.84
founded_at                 17.85
dtype: float64

# CHECKPOINT 1

In [11]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 15 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
name                       114948 non-null object
homepage_url               108815 non-null object
category_list              111539 non-null object
status                     114949 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94428 non-null object
dtypes: float64(1), object(14)
memory usage: 14.0+ MB

In [12]:
master_frame.groupby("funding_round_type").mean().sort_values(['raised_amount_usd'],ascending = False)

                       raised_amount_usd
funding_round_type
post_ipo_debt               1.687046e+08
post_ipo_equity             8.218249e+07
secondary_market            7.964963e+07
private_equity              7.330859e+07
undisclosed                 1.924237e+07
debt_financing              1.704353e+07
venture                     1.174895e+07
grant                       4.300576e+06
convertible_note            1.453439e+06
product_crowdfunding        1.363131e+06
angel                       9.586945e+05
seed                        7.198180e+05
equity_crowdfunding         5.383682e+05
non_equity_assistance       4.112031e+05

# CHECKPOINT 2
  Based on the average investment amount calculated above, the investment type VENTURE is the most suitable for Spark Funds.

In [13]:
top9 = master_frame[master_frame['funding_round_type'] == 'venture']
top9.sort_values(['raised_amount_usd'],ascending=False,inplace = True)
top9 = top9.groupby('country_code').sum().sort_values(['raised_amount_usd'],ascending = False).head(9)
top9

              raised_amount_usd
country_code
USA                4.225108e+11
CHN                3.983542e+10
GBR                2.024563e+10
IND                1.439186e+10
CAN                9.583332e+09
FRA                7.259537e+09
ISR                6.907515e+09
DEU                6.346960e+09
JPN                3.363677e+09

# CHECKPOINT 3
## $$ 1^ST $$top english speaking country   : USA
## $$ 2^nd $$ top english speaking country  : GBR
## $$ 3^rd $$ top english speaking country  : IND

In [14]:
mapping = pd.read_csv('mapping.csv')
mapping.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [15]:
mapping['category_list'] = mapping['category_list'].str.replace('0','na').str.lower()

In [16]:
L = master_frame.category_list.isnull()
x = []
for r in range(len(master_frame.index)):
    if L[r] :
        x.append(None)
    else:
        split = master_frame.category_list[r].split('|')
        x.append(split[0])
master_frame['primary_sector'] = x

In [17]:
master_frame['main_sector'] = master_frame['primary_sector'].str.lower()
for a in mapping.columns[1:]:
    for x in mapping[mapping[a] == 1].category_list:
        master_frame['main_sector'].replace(x,a,inplace = True)

In [18]:
for x in set(master_frame['main_sector']) - set(mapping.columns):
    master_frame['main_sector'].replace(x,'Others',inplace = True)

In [63]:
master_frame['main_sector'].value_counts()

Social, Finance, Analytics, Advertising    26478
Others                                     25715
Cleantech / Semiconductors                 16455
News, Search and Messaging                 16208
Entertainment                               8566
Health                                      8292
Manufacturing                               7315
Blanks                                      3410
Automotive & Sports                         2510
Name: main_sector, dtype: int64

In [70]:
#del
master_frame[(master_frame['funding_round_type'] == 'venture') & (master_frame['country_code'] == 'USA') & (master_frame['raised_amount_usd'] > 5000000) & (master_frame['raised_amount_usd'] < 15000000)]['main_sector'].value_counts()

Others                                     2758
Social, Finance, Analytics, Advertising    2522
Cleantech / Semiconductors                 2182
News, Search and Messaging                 1461
Health                                      849
Manufacturing                               751
Entertainment                               549
Automotive & Sports                         161
Blanks                                       78
Name: main_sector, dtype: int64

In [20]:
master_frame.to_csv('master_frame.csv', sep='\t', encoding='utf-8',index = False)

# CHECKPOINT 4

In [21]:
D1 = master_frame[(master_frame['funding_round_type'] == 'venture') & (master_frame['country_code'] == 'USA') & (master_frame['raised_amount_usd'] > 5000000) & (master_frame['raised_amount_usd'] < 15000000)]
D2 = master_frame[(master_frame['funding_round_type'] == 'venture') & (master_frame['country_code'] == 'GBR') & (master_frame['raised_amount_usd'] > 5000000) & (master_frame['raised_amount_usd'] < 15000000)]
D3 = master_frame[(master_frame['funding_round_type'] == 'venture') & (master_frame['country_code'] == 'IND') & (master_frame['raised_amount_usd'] > 5000000) & (master_frame['raised_amount_usd'] < 15000000)]
display(D1.shape)
display(D2.shape)
display(D3.shape)
D3.head()

(10052, 17)

(567, 17)

(244, 17)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector,main_sector
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media,Entertainment
227,/organization/21diamonds-india,/funding-round/6de7ffef8091ba9f33821f4b861f434a,venture,C,15-11-2012,6369507.0,21diamonds,http://www.21diamonds.de,E-Commerce,operating,IND,10,New Delhi,Gurgaon,01-06-2012,E-Commerce,Others
1049,/organization/a-little-world,/funding-round/18d98f82ed392b1609975b81f3e8b3fb,venture,B,09-09-2008,6410000.0,a little world,http://alittleworld.com,Finance,operating,IND,16,Mumbai,Mumbai,02-03-2000,Finance,"Social, Finance, Analytics, Advertising"
2507,/organization/adlabs-imagica,/funding-round/508d3c83daaae9fda3ba6f9682c78f6c,venture,NaN,28-10-2014,8180000.0,adlabs imagica,http://www.adlabsimagica.com,Entertainment|Tourism,operating,IND,16,IND - Other,Khopoli,NaN,Entertainment,Entertainment
3457,/organization/agile,/funding-round/cd3dd1c98ce9d0f632d8752163941674,venture,A,01-05-2011,5740000.0,agile,http://www.agile-ft.com,Finance|Finance Technology|FinTech|Insurance,operating,IND,16,Mumbai,Mumbai,NaN,Finance,"Social, Finance, Analytics, Advertising"

In [101]:
for df in [D1,D2,D3]:
    df['n.o_of_nvestments'] = df['main_sector'].map( dict(df['main_sector'].value_counts()))
    df['Total_invested_amount'] = df['main_sector'].map(dict(df.groupby('main_sector').sum()['raised_amount_usd']))

In [108]:
for df in [D1,D2,D3]:
    display(df['main_sector'].value_counts())
    print('total n.o of investments:',df['main_sector'].value_counts().sum())
    print('total investment:',df['raised_amount_usd'].sum())
    print('------------------------------------------------------------------')

Others                                     2424
Social, Finance, Analytics, Advertising    2216
Cleantech / Semiconductors                 1991
News, Search and Messaging                 1281
Health                                      760
Manufacturing                               691
Entertainment                               479
Automotive & Sports                         142
Blanks                                       68
Name: main_sector, dtype: int64

total n.o of investments: 10052
total investment: 89601347515.0
------------------------------------------------------------------

Others                                     129
Cleantech / Semiconductors                 126
Social, Finance, Analytics, Advertising    118
News, Search and Messaging                  65
Entertainment                               48
Manufacturing                               38
Health                                      23
Automotive & Sports                         14
Blanks                                       6
Name: main_sector, dtype: int64

total n.o of investments: 567
total investment: 4941843539.0
------------------------------------------------------------------

Others                                     78
Social, Finance, Analytics, Advertising    45
News, Search and Messaging                 41
Entertainment                              23
Manufacturing                              18
Health                                     17
Cleantech / Semiconductors                 14
Automotive & Sports                         7
Blanks                                      1
Name: main_sector, dtype: int64

total n.o of investments: 244
total investment: 2186543602.0
------------------------------------------------------------------

In [33]:
D = D1[D1['main_sector'] == 'Others']
D.groupby('name').sum().sort_values(['raised_amount_usd'],ascending = False).head()

                   raised_amount_usd
name
airtight networks         54201907.0
bit9                      48433533.0
zilliant                  45600000.0
redfin                    44800000.0
five9                     44600000.0

In [34]:
D = D2[D2['main_sector'] == 'Others']
D.groupby('name').sum().sort_values(['raised_amount_usd'],ascending = False).head()

                 raised_amount_usd
name
electric cloud          37000000.0
enigmatec               32500000.0
opencloud               27972766.0
myoptique group         27694613.0
acs clothing            26239014.0

In [35]:
D = D3[D3['main_sector'] == 'Others']
D.groupby('name').sum().sort_values(['raised_amount_usd'],ascending = False).head()

                                                    raised_amount_usd
name
myntra                                                     33000000.0
firstcry.com                                               24000000.0
nxtgen data center & cloud services                        22300000.0
maharana infrastructure and professional servic...         21600000.0
india property online                                      19000000.0